<% include partials/navbar.html.ejs %>

<% include partials/new_item_form.html.ejs %>

<div class="container-fluid" style="min-height: 100vh;">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            
        <% let i = 0 %>
        <% items.sort((item1, item2) => {
            return item1.inserted_at - item2.inserted_at
        }) %> 
        <% items.forEach(item => { %>
            <tr>
                <th scope="row"><%- i + 1 %></th>
                <form action="/changeItemStatus" method="POST">
                    <input type="hidden" name="quantity" value="<%- item.quantity %>">
                    <input type="hidden" name="name" value="<%- item.name %>">
                    <input type="hidden" name="iid" value="<%- item.iid %>">
                    <input type="hidden" name="lid" value="<%- lid %>">
                    <input type="hidden" name="usr" value="<%- usr %>">
                    <% if (item.checked) { %>
                        <td>
                            <input type="hidden" name="status" value="false">
                            <button type="submit" class="btn btn-primary" style="background-color: var(--middle-color); border-color: var(--middle-color); width: 70px;">
                                Done
                            </button>
                        </td>
                    <% } else { %>
                        <td>
                            <input type="hidden" name="status" value="true">
                            <button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color); width: 70px;">
                                Not 
                            </button>
                        </td>
                    <% } %>
                </form>
                <td><%- item.name %></td>
                <td><%- item.quantity %></td>
                <form action="/deleteItem" method="POST">
                    <input type="hidden" name="iid" value="<%- item.iid %>">
                    <input type="hidden" name="lid" value="<%- lid %>">
                    <input type="hidden" name="usr" value="<%- usr %>">
                    <td><button type="submit" class="btn btn-primary" style="background-color: var(--main-color); border-color: var(--main-color);">
                        - 
                    </button></td>
                </form>
            </tr>
            <% i = i + 1 %>
        <% }) %>
        </tbody>
    </table>
</div>

<% include partials/footer.html.ejs %>